djangorestframework==3.12.4
django==3.2.6
mysqlclient==2.0.3
drf-spectacular==0.18.2
django-rest-auth==0.9.5
django-filter==2.4.0
django-import-export==2.6.0
matplotlib==3.4.3 
numpy==1.21.2 
django-storages==1.12
boto3==1.18.58
django-cors-headers==3.10.0
requests==2.26.0
