

:root {
    --mainColour: #1B496A;
    --secondaryColour: #F49E8F;
  }


label {
    width: 30%;
    margin-left: 4%;
}

.customerInput {
    width: 75%;
    margin-left: 10%;
}


select {
    width: 75%;
    margin-left: 10%;
}



.saveButton {
    background-color: var(--mainColour);
    border: var(--mainColour);
} 


.header {
    background-color: var(--mainColour);
    color: white;
    margin-bottom: 3%;
}
/*

.genderSelect{
    margin-right: 1%;
    margin-left: auto;
}

.gender {
    width: 20%;
}

*/