:root {
  --mainColour: #1B496A;
  --secondaryColour: #F49E8F;
}

.dashboard {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--mainColour);
  }

  .search {
    width: 90%;
    height: 60px;
    margin-left: 4%;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: auto;

  }
  .heading {
    width: 90%;
    height: 60px;
    margin-left: 4%;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .block {
    width: 100%;
    
    
  }
  .smallLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-size: 0%;

}

.dashButton {
    color: var(--secondaryColour) ;
    background-color: transparent;
    font-size: 180%;
    margin-right: 15%;
    border: var(--mainColour);
    font-weight: 100;
    
}

.button {
  color: var(--mainColour) ;
  background-color: white;
  font-size: larger;
  margin-left: 1%;
  margin-right: 5%;
  border: white;
  font-size: 150%;
  margin-bottom: 4%;
}
.icons {
  width: 80%;
  height: 70%;
  margin-right: 15%;
  margin-left: auto;
  margin-top: 6%;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  
}

.logo {
  width: 30%;
  height: 70%;
  margin-right: auto;
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: auto;
  background-color: var(--mainColour);

}

.input {
  border-radius: 9px;
  color: var(--mainColour);
  font-size: 150%;
  margin-top: 4%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 18%;
  width: 90% ;
}

.header {
  color: var(--mainColour);
  font-size: 160%;
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 18%;
}

#theMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
       
  width: 100vw;
  height: 100vh;
}     

.customerList {
  list-style-type: group;
  margin-top: 5%;
}

.customer {
  justify-content: space-between;
  align-items: center;

  background-color: var(--mainColour);
  color: white;
  border-radius: 4px;
  width: 85%;
  height: 75px;
  margin-top: 6%;
  margin-bottom: auto;
}

.name {
  font-size: large;
  margin-left: 5%;
}
.secondaryText {
  margin-left: 5%;
}

