:root {
    --mainColour: #1B496A;
    --secondaryColour: #F49E8F;
  }

.center {
    text-align: left;  
    /* border: 3px solid #73AD21; */  
    margin: auto;
    width: 20%;
    padding:300px 0;
    font-size: 20px;
    
}

.text {
    text-align: left;
    color: rgb(46, 191, 240);
    font-weight: 600;
    margin-bottom: 0px;
}

.loginButton {
    color: white;
    background-color: rgb(46, 191, 240);
    /* border: 3px solid red; */ 
    margin-top: 30px;
    margin-left: 30%;
}

.logo {
    width: 60%;
    height: 200px;
    /*border: 3px solid green; */ 
    margin-left: 19%;
    margin-right: auto;
    margin-top: 9%;
    margin-bottom: auto;
}

.input {
    margin-bottom: 30px;
}

.largeLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-size: 0%;
}


.loginCredentials {
    /*border: 3px solid red; */
    width: 60%;
    height: 250px;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: auto;
    
}
.loginButton {
    margin-left: 1%;
    margin-right: auto;
    background-color: var(--mainColour);
    height: 40px;
    width: 93%;
    border-radius: 12px;
}

.input {
    margin-left: 8%;
    border: 1px solid var(--mainColour);
    margin-bottom: 4%;
    margin-top: auto;
    color: var(--mainColour);
}

.input[type = text] {
    color: var(--mainColour);
}

.input[type = password] {
    color: var(--mainColour);
}

.text {
    color: var(--mainColour);
    margin-bottom: 5%;
    margin-top: auto;
}