

#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: var(--mainColour);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(100vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu li a {
    color: white;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    margin-right: 10%;
    font-weight: bold;
  }

  #flyoutMenu li {
    margin: 15% 0;
  }
   

  #flyoutMenu ul {
    list-style-type: none;
    font-size: xx-large;
    text-align: center;
    margin-top: 20%;
  }