:root {
    --mainColour: #1B496A;
    --secondaryColour: #F49E8F;
  }

.searchButton {
    background-color: var(--mainColour);
    border: var(--mainColour);
} 

.header {
    background-color: var(--mainColour);
    color: white;
    margin-bottom: 3%;
}

.fieldLabel {
    width: 30%;
    margin-left: 4%;
}

.customerInput {
    width: 75%;
    margin-left: 10%;
}
