.infotabs {
    display: inline-block;
    margin-top: 3%;
    
}


.otherButtons {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
}

.otherButtons:focus {
    background-color: var(--secondaryColour);
    border: var(--mainColour);
    color: var(--mainColour);
    font-weight: bold;

}


.profileButton {
    background-color: var(--mainColour);
    color: white;
    margin-left: 2%;
    border: var(--mainColour);
}


.profileButton:focus {
    background-color: var(--secondaryColour);
    color: var(--mainColour);
    margin-left: 2%;
    border: var(--mainColour);
    font-weight: bold;
}

.plots {
    width: 100;
}

.selector {
    margin-top: 5%;
}