:root {
    --mainColour: #1B496A;
    --secondaryColour: #F49E8F;
  }


label {
    width: 30%;
    margin-left: 4%;
    margin-bottom: 10%;
}

.customerInput {
    width: 75%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
}


select {
    width: 75%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
}



.saveButton {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
    margin-left: 75%;
    width: 17%;
    border-radius: 3px;
    margin-top: 8%;
    margin-bottom: 10%;
    
} 


.header {
    color: var(--mainColour);
    margin-bottom: 3%;
    height: 40px;
    font-size: x-large;
    margin-left: 10%;
}

.closeButton {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
    width: 17%;
    border-radius: 3px;
    margin-left: 80%;
    position: absolute;
    margin-top: -15%;
    
}

.editButton {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
    width: 17%;
    border-radius: 3px;
    margin-left: 75%;
    position: absolute;
    margin-top: -27.25%;
    
}

.editButtonEmp {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
    width: 17%;
    border-radius: 3px;
    margin-left: 80%;
    position: absolute;
    margin-top: -6%;
    
}

.editButtonClicked {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: var(--secondaryColour);
    width: 17%;
    border-radius: 3px;
    margin-left: 75%;
    position: absolute;
    margin-top: -27.25%;
    font-weight: bold;
}

.editButtonClickedEmp {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: var(--secondaryColour);
    width: 17%;
    border-radius: 3px;
    margin-left: 80%;
    position: absolute;
    margin-top: -6%;
    font-weight: bold;
}

.saveButton:disabled {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
    width: 20%;
    border-radius: 3px;
    margin-left: 75%;
}

.inputForm {
    margin-top: -6%;

}

.customerImg {
    margin-left: 12%;
    margin-top: 1%;
    margin-bottom: 4%;

}

.footButtons {
    text-align: center;
    margin-right: 10%;
    margin-top: 5%;
}

.bottomButton {
    background-color: var(--mainColour);
    border: var(--mainColour);
    color: white;
    width: 30%;
    border-radius: 3px;
    margin-left: 10%;
}

.tabButtons {
    width: 100%;
    height: 30px;
    margin-bottom: 8%;
    margin-left: 4%;
}
/*

.genderSelect{
    margin-right: 1%;
    margin-left: auto;
}

.gender {
    width: 20%;
}

*/